{% extends 'maquette_layout.html.twig' %}

{% block body %}
    <main>
        <div class="zonePage">
            <section id="page">
                <div class="page">
                    <div class="row d-flex justify-content-center align-items-center activite g-5">
                        <div class="col-lg-6 content" data-aos="fade-left" data-aos-duration="1500">
                            <h1>Journée <span>scientifique</span></h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias autem velit quas sapiente. Dolore corrupti nulla qui mollitia, vero alias distinctio nisi tempora quos quasi aut sit dolor esse ab.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore eaque officia quisquam architecto quae illo sint aperiam, eveniet ipsum numquam sit, ea non magnam voluptatibus adipisci porro quos perferendis quidem?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima molestiae beatae nulla veniam odit recusandae optio accusantium ex. Neque, illum? Quo aliquid nulla laborum quaerat fugit consequatur aliquam perspiciatis accusamus.
                            </p>
                        </div>
                        <div class="col-lg-6 image" data-aos="fade-right" data-aos-duration="1500">
                            <div class="bg-img">
                                <img src="/assets/images/sportifs.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center activite g-5">
                        <div class="col-lg-6 image" data-aos="fade-left" data-aos-duration="1500">
                            <div class="bg-img">
                                <img src="/assets/images/orange.png" alt="" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-lg-6 content" data-aos="fade-right" data-aos-duration="1500">
                            <h1>Journée <span>sportives</span> </h1>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod necessitatibus aut voluptatibus, maxime harum vel officia laboriosam? Sed corrupti nesciunt voluptate ipsam repellendus ex assumenda a, voluptatem, exercitationem, id vero!
                            </p>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi provident reprehenderit perferendis distinctio incidunt, molestiae cupiditate, nostrum accusantium exercitationem itaque eligendi beatae in similique omnis est? Non dignissimos iste aliquam?
                            </p>
                        </div>
                    </div>

                    <div class="row d-flex justify-content-center align-items-center activite g-5">
                        <div class="col-lg-6 content" data-aos="fade-right" data-aos-duration="1500">
                            <h1>Journée <span>scientifique</span></h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias autem velit quas sapiente. Dolore corrupti nulla qui mollitia, vero alias distinctio nisi tempora quos quasi aut sit dolor esse ab.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore eaque officia quisquam architecto quae illo sint aperiam, eveniet ipsum numquam sit, ea non magnam voluptatibus adipisci porro quos perferendis quidem?
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima molestiae beatae nulla veniam odit recusandae optio accusantium ex. Neque, illum? Quo aliquid nulla laborum quaerat fugit consequatur aliquam perspiciatis accusamus.
                            </p>
                        </div>
                        <div class="col-lg-6 image" data-aos="fade-left" data-aos-duration="1500">
                            <div class="bg-img">
                                <img src="/assets/images/orange.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block title %}Presentation{% endblock %}

{% block breadcrumb %}
    <div class="zoneBreadcrumb">
        <section id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Presentation</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Mining Olympiades 2024</li>
                </ol>
            </nav>
        </section>
    </div>
{% endblock %}

