{% extends 'base.html.twig' %}

{% block title %}New Participant{% endblock %}

{% block body %}
    <h1>Create new Participant</h1>

    {{ include('backend_participant/_form.html.twig') }}

    <a href="{{ path('app_backend_participant_index') }}">back to list</a>
{% endblock %}
