<form method="post" action="{{ path('app_backend_compagnie_delete', {'id': compagnie.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette compagnie?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compagnie.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
