{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="zoneMedia" {{ react_component('Galerie') }}></div>
    </main>
{% endblock %}

{% block title %}Galerie{% endblock %}

{% block breadcrumb %}
    <div class="zoneBreadcrumb">
        <section id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ absolute_url(path('app_home')) }}"><i class="bi bi-house-fill"></i></a></li>
                    <li class="breadcrumb-item"><a href="#">Médiathèque</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Photos</li>
                </ol>
            </nav>
        </section>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/js/galerie.js')) }}"></script>
{% endblock %}

