{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <div class="zonePage" {{ react_component('PagePresentation') }}></div>
    </main>
{% endblock %}

{% block title %}Presentation{% endblock %}

{% block breadcrumb %}
    <div class="zoneBreadcrumb">
        <section id="breadcrumb">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><i class="bi bi-house-fill"></i></a></li>
{#                    <li class="breadcrumb-item"><a href="#">Presentation</a></li>#}
                    <li class="breadcrumb-item active" aria-current="page">Présentation</li>
                </ol>
            </nav>
        </section>
    </div>
{% endblock %}

