<form method="post" action="{{ path('app_backend_joueur_delete', {'id': joueur.id}) }}" onsubmit="return confirm('Attention vous allez supprimer ce joueur. Cette action est irreversible. Voulez-vous vraiment ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
